In [6]:
import pandas as pd
import numpy as np

In [14]:
financials = pd.read_excel('Given_Data/NBA_financial_data.xlsx')
financials.head()

,City,State,Team Name,Arena Sponsor,Arena Cost (millions),Year of Arena Construction,Arena Capacity,Jersey Sponsor,022/2023 Revenue (millions),022/2023 Operating Income (millions),022/2023 Player Expenses (millions),2019 Ticket Revenue
0,Atlanta,Georgia,Atlanta Hawks,State Farm,213.5,1999,16600,YMCA,326,85,159,45.3
1,Boston,Massachusetts,Boston Celtics,TD Bank,160.0,1995,19156,Vistaprint,443,88,185,72.5
2,Brooklyn,New York,Brooklyn Nets,Barclays Bank,1000.0,2012,17732,Webull,367,-5,187,55.1
3,Charlotte,North Carolina,Charlotte Hornets,Spectrum,260.0,2005,19077,Feastables,269,35,165,23.7
4,Chicago,Illinois,Chicago Bulls,United Airlines,175.0,1994,20917,Motorola,372,115,158,70.0

In [13]:
financials.columns

Index(['City', 'State', 'Team Name', 'Arena Sponsor', 'Arena Cost (millions)',
       'Year of Arena Construction', 'Arena Capacity', 'Jersey Sponsor',
       '022/2023 Revenue (millions)', '022/2023 Operating Income (millions)',
       '022/2023 Player Expenses (millions)', '2019 Ticket Revenue'],
      dtype='object')